<!-- Abdul Malik -->
<!-- Tugas 12 JCC - AJAX, Axios -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abdul Malik - Tugas 12 JCC</title>
  <style>
    body {
      padding: 10px 50px;
      color: #161D6F;
      background-color: #B8DFD8;
    }
    .form-member {
      width: 400px;
      margin: 15px auto;
      padding: 15px;
      border-radius: 10px;
      background-color: #E8F6EF;
    }
    .form-member input,
    .form-member textarea {
      display: block;
      margin-bottom: 8px;
    }
  </style>
</head>

<body>
  <div id="app">
    <form @submit.prevent="submitForm" class="form-member">
      <label>Nama</label>
      <input type="text" autocomplete="off" v-model="name" required :disabled="formStatus === 'upload'">
      <label>Alamat</label>
      <textarea cols="30" rows="3" v-model="address" required :disabled="formStatus === 'upload'"></textarea>
      <label>Nomor telepon</label>
      <input type="number" autocomplete="off" v-model="phoneNumber" required :disabled="formStatus === 'upload'">
      <input type="file" name="photo" ref="photo" required v-if="formStatus === 'upload'">
      <input type="submit" v-model="formStatus">
      
      <button type="button" v-if="cancelButton" @click="resetAll">Cancel</button>
    </form>

    <table border="1" >
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nama</th>
          <th>Alamat</th>
          <th>No Telepon</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody v-for="member in members">
        <tr>
          <td><img v-bind:src="'http://demo-api-vue.sanbercloud.com' + member.photo_profile" alt="profile img" width="100"></td>
          <td>{{ member.name }}</td>
          <td>{{ member.address }}</td>
          <td>{{ member.no_hp }}</td>
          <td>
            <button type="button" @click="uploadPhotoEditMember(member, 'edit')">Edit</button> | 
            <button type="button" @click="deleteMember(member)">Delete</button> | 
            <button type="button" @click="uploadPhotoEditMember(member, 'upload')">Upload photo</button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        baseUrl: 'http://demo-api-vue.sanbercloud.com/api/member',
        formStatus: 'add',
        cancelButton: false,
        name: '',
        address: '',
        phoneNumber: '',
        idMember: 0,
        members: [],
      },
      methods: {
        resetAll: function () {
          this.formStatus = 'add';
          this.cancelButton = false;
          this.getMembers();
          this.inputForm('', '', '');
        },
        inputForm: function (name, address, phoneNumber) {
          this.name = name;
          this.address = address;
          this.phoneNumber = phoneNumber;
        },
        submitForm: function () {
          const formData = new FormData();
          let config;
          if (this.formStatus === 'upload') {
            const file = this.$refs.photo.files[0];
            formData.append('photo_profile', file);
            config = {
              method: 'post',
              url: `${this.baseUrl}/${this.idMember}/upload-photo-profile`,
              data: formData,
            }
          } else {
            formData.append('name', this.name);
            formData.append('address', this.address);
            formData.append('no_hp', this.phoneNumber);
            config = {
              method: 'post',
              url: this.formStatus === 'add' 
              ? this.baseUrl 
              : `${this.baseUrl}/${this.idMember}?_method=PUT`,
              data: formData,
            }
          }
          axios(config)
            .then(res => {
              this.resetAll();
              alert(res.data.message);
            })
            .catch(err => console.log(err));
        },
        getMembers: function () {
          const config = {
            method: 'get',
            url: this.baseUrl,
          }
          axios(config)
            .then(res => this.members = res.data.members)
            .catch(err => console.log(err));
        },
        uploadPhotoEditMember: function ({ id, name, address, no_hp }, status) {
          this.formStatus = status;
          this.cancelButton = true;
          this.idMember = id;
          this.inputForm(name, address, no_hp);
        },
        deleteMember: function ({ id, name }) {
          const config = {
            method: 'post',
            url: `${this.baseUrl}/${id}?_method=DELETE`,
          }
          if (confirm(`Apa anda yakin ingin menghapus data ${name} ?`)) {
            axios(config)
              .then(res => {
                this.getMembers();
                alert(res.data.message);
              })
              .catch(err => console.log(err));
          }
        },
      },
      created() {
        this.getMembers();
      }
    });
  </script>
</body>

</html>
