<!-- Abdul Malik -->
<!-- Quiz 2 JCC -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abdul Malik - Quiz 2</title>
</head>

<body>
  <div id="app">
    <form @submit.prevent="submitForm">
      <input type="text" name="name" id="name" autocomplete="off" v-model="inputName" required/>
      <input type="submit" v-model="formSubmit">
    </form>
    <ul v-for="(user, index) in users">
      <li>{{ user.name }} <button type="button" @click="editUser(user, index)">Edit</button><button type="button" @click="deleteUser(user, index)">Delete</button></li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        formSubmit: 'Add',
        editIndex: 0,
        inputName: '',
        users: [
          { name: 'Hans-Dieter Flick' },
          { name: 'Jupp Heynckes' },
          { name: 'Jurgen Klopp' },
          { name: 'Thomas Tuchel' },
          { name: 'Julian Nagelsmann' },
          { name: 'Marco Rose' },
          { name: 'Jurgen Klinsmann' },
          { name: 'Ralf Rangnick' },
        ]
      },
      methods: {
        submitForm: function () {
          if (this.formSubmit === 'Update') {
            let userName = this.users[this.editIndex].name;
            userName = this.inputName;
            alert(`Berhasil mengedit data menjadi ${userName}`);
            this.inputName = '';
            this.formSubmit = 'Add';
          } else {
            this.users.push({ name: this.inputName });
            this.inputName = '';
          }
        },
        editUser: function (name, index) {
          this.formSubmit = 'Update';
          this.inputName = name.name;
          this.editIndex = index;
        },
        deleteUser: function (name, index) {
          const confirmDelete = confirm(`Apa anda yakin ingin menghapus data ${name.name} ?`);
          if (confirmDelete) {
            this.users.splice(index, 1);
          }
        },
      },
    });
  </script>
</body>

</html>
