<!-- Abdul Malik -->
<!-- Tugas 9 dan 10 JCC -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abdul Malik - Tugas 9 dan 10</title>
</head>

<body>
  <div id="app">
    <input type="text" placeholder="masukkan keyword buku" v-model="search">
    <ul v-for="book in searchList">
      <li>{{ book }}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        search: '',
        books: [
          'Negeri para bedebah',
          'Negeri di ujung tanduk',
          'Selamat tinggal',
          'Janji',
          'Pulang',
          'Pergi',
          'Pulang pergi',
          'Hafalan sholat delisa'
        ]
      },
      computed: {
        searchList() {
          return this.books.filter(book => {
            return book.toLowerCase().includes(this.search.toLowerCase());
          })
        }
      }
    });
  </script>
</body>

</html>